<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>제목1</string>
		<key>image</key>
		<string>이미지1</string>
		<key>date</key>
		<string>2000/00/00</string>
		<key>star</key>
		<integer>3</integer>
		<key>simpleReview</key>
		<array>
			<string>심플리뷰1</string>
			<string>심플리뷰2</string>
		</array>
		<key>review</key>
		<string>리뷰1</string>
		<key>createdDate</key>
		<string>2000/00/00</string>
	</dict>
	<dict>
		<key>title</key>
		<string>제목2</string>
		<key>image</key>
		<string>이미지2</string>
		<key>date</key>
		<string>2000/00/00</string>
		<key>star</key>
		<integer>2</integer>
		<key>simpleReview</key>
		<array>
			<string>심플리뷰1</string>
		</array>
		<key>review</key>
		<string>리뷰2</string>
		<key>createdDate</key>
		<string>2000/00/00</string>
	</dict>
	<dict>
		<key>title</key>
		<string>제목3</string>
		<key>image</key>
		<string>이미지3</string>
		<key>date</key>
		<string>2000/00/00</string>
		<key>star</key>
		<integer>5</integer>
		<key>simpleReview</key>
		<array>
			<string>심플리뷰1</string>
			<string>심플리뷰2</string>
		</array>
		<key>review</key>
		<string></string>
		<key>createdDate</key>
		<string>2000/00/00</string>
	</dict>
	<dict>
		<key>title</key>
		<string>제목3</string>
		<key>image</key>
		<string>이미지4</string>
		<key>date</key>
		<string>2000/00/00</string>
		<key>star</key>
		<integer>3</integer>
		<key>simpleReview</key>
		<array/>
		<key>review</key>
		<string></string>
		<key>createdDate</key>
		<string>2000/00/00</string>
	</dict>
</array>
</plist>
